    <div class="box">
         <header>
            <div class="head">
                <a href="#"></a>
                <a href="#" ng-href="#/tab">服务</a>
                <a href="#" ng-href="#/slide">金融</a>
                <a href="#"></a>
                <a href="#"><i class="iconfont">&#xe729;</i></a>
            </div>
            <div class="line"></div>
        </header>
        <section>
                <div class="swiper-container container">
                    <div class="swiper-wrapper wrapper">
                        <div class="swiper-slide slide"><img src="img/banner.gif" alt=""></div>
                        <div class="swiper-slide slide"><img src="img/banner.gif" alt=""></div>
                        <div class="swiper-slide slide"><img src="img/banner.gif" alt=""></div>
                        <div class="swiper-slide slide"><img src="img/banner.gif" alt=""></div>
                        <div class="swiper-slide slide"><img src="img/banner.gif" alt=""></div>
                        <div class="swiper-slide slide"><img src="img/banner.gif" alt=""></div>
                    </div>    
                <div class="swiper-pagination fraction"></div>
            </div>

            <div class="nav">
                <ul>
                    <li><a href="javascript:;" style="background:#FF6868"><i class="iconfont">&#xe775;</i></a><span>车商城</span></li>
                    <li><a href="javascript:;" style="background:#FF9D3E"><i class="iconfont">&#xe714;</i></a><span>分期购车</span></li>
                    <li><a href="javascript:;" style="background:#FF6666"><i class="iconfont">&#xe614;</i></a><span>团购活动</span></li>
                    <li><a href="javascript:;" style="background:#4183FF"><i class="iconfont">&#xe612;</i></a><span>找二手车</span></li>
                </ul>
            </div>

            <div class="back">
                <div class="bgg">
                    <img src="img/bg.gif" alt="">
                    <h2>保养预约68折 爱车浪漫购</h2>
                </div> 
            </div>

            <div class="tit1">
                <p>车主服务</p>
            </div>

            <div class="list">
                <dl>
                    <dt style="color:#FF6666"><i class="iconfont">&#xe68f;</i></dt>
                    <dd>油卡充值</dd>
                    <span>New</span>
                </dl>
                <dl>
                    <dt style="color:#0AA570"><i class="iconfont">&#xe62a;</i></dt>
                    <dd>低价保险</dd>
                </dl>
                <dl>
                    <dt style="color:#7760EF"><i class="iconfont">&#xe652;</i></dt>
                    <dd>4S保养店</dd>
                </dl>
                <dl>
                    <dt style="color:#29B082"><i class="iconfont">&#xe640;</i></dt>
                    <dd>品质轮胎</dd>
                </dl>
                <dl>
                    <dt style="color:#FF4E00"><i class="iconfont">&#xe621;</i></dt>
                    <dd>车品商城</dd>
                </dl>
                <dl>
                    <dt style="color:#4183FF"><i class="iconfont">&#xe662;</i></dt>
                    <dd>洗车</dd>
                </dl>
                <dl>
                    <dt style="color:#FF5409"><i class="iconfont">&#xe646;</i></dt>
                    <dd>违章代缴</dd>
                </dl>
                <dl>
                    <dt style="color:#E94645"><i class="iconfont">&#xe614;</i></dt>
                    <dd>免费测评</dd>
                </dl>
                <dl>
                    <dt style="color:#4D8BFF"><i class="iconfont">&#xe675;</i></dt>
                    <dd>查周边</dd>
                </dl>
                <dl>
                    <dt style="color:#0AA570"><i class="iconfont">&#xe612;</i></dt>
                    <dd>车主卡</dd>
                </dl>
                <dl>
                    <dt style="color:#4183FF"><i class="iconfont">&#xe67d;</i></dt>
                    <dd>领券保养</dd>
                </dl>
                <dl>
                    <dt style="color:#5F5F5F"><i class="iconfont">&#xe64a;</i></dt>
                    <dd>全部</dd>
                </dl>
            </div>

            <div class="tit2">
                <h4><b>限时抢购</b><p><span>13</span> : <span>13</span> : <span>13</span></p></h4>
            </div>

            <div class="swiper-container container">
                <div class="swiper-wrapper wrapper">
                    <div class="swiper-slide slide">
                        <div class="bk">
                            <dl>
                                <dt><img src="img/img1.gif" alt=""></dt>
                                <dd>
                                    <h3>补胎工具简易套装</h3>
                                    <p><span>￥9.9元</span>  <del>28元</del></p>
                                </dd>
                                <div class="hot">
                                    <img src="img/rx.jpg" alt="">
                                </div>
                            </dl>
                            
                            <dl>
                                <dt><img src="img/img2.gif" alt=""></dt>
                                <dd>
                                    <h3>补胎工具简易套装</h3>
                                    <p><span>￥9.9元</span>  <del>28元</del></p>
                                </dd>
                                <div class="hot">
                                    <img src="img/rx.jpg" alt="">
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="swiper-slide slide">
                        <div class="bk">
                            <dl>
                                <dt><img src="img/img1.gif" alt=""></dt>
                                <dd>
                                    <h3>补胎工具简易套装</h3>
                                    <p><span>￥9.9元</span>  <del>28元</del></p>
                                </dd>
                                <div class="hot">
                                    <img src="img/rx.jpg" alt="">
                                </div>
                            </dl>
                            
                            <dl>
                                <dt><img src="img/img2.gif" alt=""></dt>
                                <dd>
                                    <h3>补胎工具简易套装</h3>
                                    <p><span>￥9.9元</span>  <del>28元</del></p>
                                </dd>
                                <div class="hot">
                                    <img src="img/rx.jpg" alt="">
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="swiper-slide slide">
                        <div class="bk">
                            <dl>
                                <dt><img src="img/img1.gif" alt=""></dt>
                                <dd>
                                    <h3>补胎工具简易套装</h3>
                                    <p><span>￥9.9元</span>  <del>28元</del></p>
                                </dd>
                                <div class="hot">
                                    <img src="img/rx.jpg" alt="">
                                </div>
                            </dl>
                            
                            <dl>
                                <dt><img src="img/img2.gif" alt=""></dt>
                                <dd>
                                    <h3>补胎工具简易套装</h3>
                                    <p><span>￥9.9元</span>  <del>28元</del></p>
                                </dd>
                                <div class="hot">
                                    <img src="img/rx.jpg" alt="">
                                </div>
                            </dl>
                        </div>
                    </div>
                
                </div>    
                <div class="swiper-pagination fraction"></div>
            </div>

            <div class="tit3">
                <p>活动专区</p><span>更多活动 <i class="iconfont"> &#xe723;</i></span>
            </div>

            <div class="active">
                <dl>
                    <dt>
                        <h4>测身价炫富</h4>
                        <p>身价大PK</p>
                    </dt>
                    <dd><img src="img/pic1.gif" alt=""></dd>
                </dl>
                <dl>
                    <dt>
                        <h4>全场0利率</h4>
                        <p>购车无压力</p>
                    </dt>
                    <dd><img src="img/pic2.gif" alt=""></dd>
                </dl>
                <dl>
                    <dt>
                        <h4>好车分期</h4>
                        <p>定制专属方案</p>
                    </dt>
                    <dd><img src="img/pic3.gif" alt=""></dd>
                </dl>
            </div>

            <div class="tit3">
                <p>猜你喜欢</p><span>更多 <i class="iconfont"> &#xe723;</i></span>
            </div>

            <div class="like">
                <dl>
                    <dt><img src="img/pics1.gif" alt=""></dt>
                    <dd>
                        <h4>上汽大众-全新旅途L</h4>
                        <h5>上汽大众-全新旅途L享2年0利率</h5>
                        <p><span>1元</span> <del>1.44万</del></p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="img/pics2.gif" alt=""></dt>
                    <dd>
                        <h4>上汽大众-全新旅途L</h4>
                        <h5>上汽大众-全新旅途L享2年0利率</h5>
                        <p><span>1元</span> <del>1.44万</del></p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="img/pics3.gif" alt=""></dt>
                    <dd>
                        <h4>上汽大众-全新旅途L</h4>
                        <h5>上汽大众-全新旅途L享2年0利率</h5>
                        <p><span>1元</span> <del>1.44万</del></p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="img/pics4.gif" alt=""></dt>
                    <dd>
                        <h4>上汽大众-全新旅途L</h4>
                        <h5>上汽大众-全新旅途L享2年0利率</h5>
                        <p><span>1元</span> <del>1.44万</del></p>
                    </dd>
                </dl>
            </div>
            <div id="jiazai"><button id="btn">加载按钮</button></div>
        </section>


        <footer>
             <div class="foot">
                <ul>
                    <li><a href="#"><i class="iconfont">&#xe648;</i></a><span>首页</span></li>
                    <li><a href="#"><i class="iconfont">&#xe714;</i></a><span>论坛</span></li>
                    <li><a href="#"><i class="iconfont">&#xe725;</i></a><span>选车</span></li>
                    <li><a href="#"><i class="iconfont">&#xe715;</i></a><span>发现</span></li>
                    <li><a href="#"><i class="iconfont">&#xe716;</i></a><span>未登录</span></li>
                </ul>
           </div>
        </footer>
    </div>